@if (AppendPaymentDto == null)
{
    <Loader />
}
else
{
    <p>
        Amount Due: @AppendPaymentDto.AmountDue
    </p>

    <EditForm Model="@AppendPaymentDto" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="PaymentAmount" class="form-label">Payment Amount</label>
            <InputNumber id="PaymentAmount" @bind-Value="AppendPaymentDto!.PaymentAmount" class="form-control" />
        </div>

        <p>
            Left to Pay: @AppendPaymentDto.LeftToPay
        </p>

        <button type="button" @onclick="() => BlazoredModalInstance.CancelAsync()" class="btn btn-secondary">Cancel</button>
        <button type="submit" class="btn btn-success">Add Payment</button>
    </EditForm>
}

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModalInstance { get; set; } = default!;
    [Parameter] public decimal AmountDue { get; set; }

    AppendPaymentDto? AppendPaymentDto;

    protected override void OnInitialized() =>
        AppendPaymentDto = new(AmountDue) { PaymentAmount = AmountDue };

    public async Task HandleValidSubmit() =>
        await BlazoredModalInstance.CloseAsync(ModalResult.Ok(AppendPaymentDto));
}
