<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ace1b7aa-3d94-41ef-8969-443c75c868a4/resourceGroups/SchoolProject/providers/Microsoft.Web/sites/ShepherdPOS-Api</ResourceId>
    <ResourceGroup>SchoolProject</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://shepherdpos-api.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://shepherdpos-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ShepherdPOS-Api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>